<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edycja Katalogu</title>
		<link rel="stylesheet" th:href="@{/css/catalogs.css}" />
		<script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<div class="sidebar">
				<h1 class="note">Note<span class="ally">ally</span></h1>
				<div class="side-wrapper">
					<div class="side-title">SORTOWANIE</div>
					<div class="side-menu">
						<a th:href="@{'/catalogs/ASC' }" th:value="1" ><i class="sort fa-solid fa-arrow-down-a-z"></i></a>
						<a th:href="@{'/catalogs/DESC' }" th:value="2" ><i class="sort fa-solid fa-arrow-up-a-z"></i></a>
						<a th:href="@{'/catalogs/notesASC' }" th:value="3" ><i class="sort fa-solid fa-arrow-down-1-9"></i></a>
						<a th:href="@{'/catalogs/notesDESC' }" th:value="4" ><i class="sort fa-solid fa-arrow-up-1-9"></i></a>
						<a th:href="@{'/catalogs/deleteFilters' }" th:value="5" ><i class="fa-solid fa-filter-circle-xmark"></i></a>
					</div>
				</div>
				<div class="line"></div>
				<div class="add-note anim" style="--delay: 0.2s">
					<a th:href="@{'/catalogs/' + 'createCatalog'}"><i class="fa-solid fa-folder-plus"></i></a>
				</div>
			</div>
			<div class="wrapper">
				<div class="header">
					<nav class="nav">
						<a th:href="@{'/catalogs'}" class="nav-item is-active" active-color="pink">Catalogs</a>
						<a th:href="@{/logout}" class="nav-item" active-color="red">Sign Out!</a>
						<span class="nav-indicator"></span>
					</nav>
				</div>
				<div class="main-container">
					<div class="anim main-catalog" style="--delay: 0.1s">
						<ul th:each="catalog : ${catalogs}">
							<div class="container-catalog">
								<li>
									<i class="fa-solid fa-folder"></i>
									<a
										th:href="@{'/catalogs/' + ${catalog.getId()}}"
										th:text="${catalog.getName()}"
										>Catalog Name</a
									>
								</li>
								<a th:href="@{'/catalogs/' + 'deleteCatalog/' + ${catalog.getId()}}"
									><i class="fa-solid fa-xmark"></i
								></a>

								<a th:href="@{'/catalogs/' + 'editCatalog/' + ${catalog.getId()}}"
									><i class="fa-regular fa-pen-to-square"></i
								></a>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="create-catalog">
			<div class="box-catalog">
				<form
					th:action="@{'/catalogs' + '/editCatalog/'  + ${catalog.getId()}}"
					th:method="post"
					th:object="${catalog}">
					<h2 class="note">Edit<span class="ally">Catalog</span></h2>
					<div class="input-box">
						<input type="text" id="name" name="name" th:field="*{name}" />
						<label for="name">Catalog Name<div id="error-label-name" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div></label>
					</div>

					<button class="button" type="submit">Confirm</button>
				</form>
				<a th:href="@{'/catalogs'}"
				><i class="fa-solid fa-xmark"></i
				></a>
			</div>
		</div>

		<script type="text/javascript" th:src="@{/js/catalogs.js}"></script>
	</body>
</html>
