<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Edycja Notatki</title>
	<link rel="stylesheet" th:href="@{/css/notes.css}" />
	<script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
	<div class="sidebar">
		<h1 class="note">Note<span class="ally">ally</span></h1>
		<div class="side-wrapper">
			<div class="side-title">SORT OPTIONS</div>
			<div class="side-menu">
				<a th:href="@{'/catalogs/' + ${catalog.getId()}+'/ASC'}" th:value="1" ><i class="sort fa-solid fa-arrow-down-a-z"></i></a>
				<a th:href="@{'/catalogs/' + ${catalog.getId()}+'/DESC'}" th:value="2" ><i class="sort fa-solid fa-arrow-up-a-z"></i></a>
				<a th:href="@{'/catalogs/' + ${catalog.getId()}+'/dataASC'}" th:value="3" ><i class="sort fa-regular fa-calendar-plus"></i></a>
				<a th:href="@{'/catalogs/' + ${catalog.getId()}+'/dataDESC'}" th:value="4" ><i class="sort fa-regular fa-calendar-minus"></i></a>
				<a th:href="@{'/catalogs/' + ${catalog.getId()}+'/deleteFilters'}" th:value="5" ><i class="fa-solid fa-filter-circle-xmark"></i></a>
			</div>
		</div>
		<div class="line"></div>
		<div class="add-note anim" style="--delay: 0.2s">
			<a th:href="@{'/catalogs/' + ${catalog.getId()} + '/createNote'}"
			><i class="fa-regular fa-square-plus"></i
			></a>
		</div>
	</div>
	<div class="wrapper">
		<div class="header">
			<nav class="nav">
				<a th:href="@{'/catalogs'}" class="nav-item is-active" active-color="pink">Catalogs</a>
				<a th:href="@{/logout}" class="nav-item" active-color="pink">Sign Out!</a>
				<span class="nav-indicator"></span>
			</nav>
		</div>
		<div class="main-container">
			<div class="anim main-notes" style="--delay: 0.1s">
				<ul th:each="note, i: ${notes}">
					<div class="container-notes">
						<div class="testimonial">
							<h3 th:text="${note.getTitle()}"></h3>
							<p th:text="${note.getContent()}"></p>
							<span class="date" th:text="${note.getDate()}"></span>
							<span class="link" th:text="${note.getLink()}"></span>
						</div>
						<a
								th:href="@{'/catalogs/' + ${catalog.getId()} + '/deleteNote/' +${note.getId()}}"
						><i class="fa-solid fa-xmark"></i
						></a>
						<a
								th:href="@{'/catalogs/' + ${catalog.getId()} + '/editNote/' +${note.getId()}}"
						><i class="fa-regular fa-pen-to-square"></i
						></a>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="create-note">
	<div class="box-note">
		<form
				th:action="@{'/catalogs/' + ${catalog.id} + '/editNote/' + ${note.getId()}}"
				th:method="POST"
				th:object="${note}">
			<h2 class="note">Edit<span class="ally">Note</span></h2>
			<div class="input-box">
				<input type="text" id="title" name="title" th:field="*{title}" />
				<label for="title">Title<div class="error-label-name" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div></label>
			</div>
			<div class="input-box">
						<textarea
								cols="30"
								rows="10"
								type="text"
								id="content"
								name="content"
								th:field="*{content}"></textarea>
				<label class="content" for="content">Content<div class="error-label-name" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div></label>
			</div>
			<div class="input-box">
				<input type="text" id="link" name="link" th:field="*{link}" />
				<label for="link">Link</label>
			</div>
			<button class="button" type="submit">Confirm</button>
		</form>
		<a th:href="@{'/catalogs/'+${catalogId}}"
		><i class="fa-solid fa-xmark"></i
		></a>
	</div>
</div>

<script type="text/javascript" th:src="@{/js/notes.js}"></script>
</body>
</html>
