input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s !important;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/*background: linear-gradient(242deg, #f64f59, #c471ed, #12c2e9) center;*/
	background-image: url("../images/flat-mountain-landscape-wallpaper-5120x2160_16.jpg");
	background-size: cover;
	background-position: center;
	font-family: "Poppins", sans-serif;
	color: aliceblue;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.login-box {
	position: relative;
	background: transparent;
	backdrop-filter: blur(10px);
	width: 400px;
	height: 500px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid rgba(255, 255, 255, 0.5);
}

h2 {
	font-size: 2.5em;
	text-align: center;
	letter-spacing: 2px;
}

.note {
	color: #960a4b;
}

.ally {
	color: aquamarine;
}

.input-box {
	position: relative;
	width: 300px;
	margin: 30px 0;
	border-bottom: 3px solid aliceblue;
}

.input-box label {
	transition: 0.3s;
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	pointer-events: none;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
	top: -5px;
}

.input-box input {
	font-weight: bold;
	color: #7f063e;
	width: 100%;
	height: 50px;
	padding: 0 35px 0 10px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1.2em;
}

.input-box i {
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	line-height: 55px;
}

.remember-me {
	padding: 5px;
	margin: -15px 0 15px;
	font-size: 0.9em;
}

.remember-me span {
	padding: 5px;
}

form button {
	width: 100%;
	height: 40px;
	background-color: #f4157e;
	color: aliceblue;
	border: none;
	border-radius: 50px;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	transition: 0.3s;
}

button:hover {
	cursor: pointer;
	background-color: aqua;
	color: #f4157e;
}

.login-box a {
	margin: 10px;
	font-size: 0.9em;
	text-align: center;
	color: aliceblue;
	text-decoration: none;
}

span {
	font-weight: bold;
	transition: 0.3s;
}

.register:hover {
	text-decoration: underline;
	cursor: pointer;
	color: aqua;
}

.remember-me label input {
	accent-color: #f4157e;
}

.cursor {
	position: absolute;
	z-index: 1;
	border-radius: 100%;
	background: radial-gradient(circle, #d9266b, #12c6de);
	width: 250px;
	height: 250px;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	filter: blur(30px) opacity(30%);
	transition: opacity 1s ease-in-out;
}


.error-label-name {
	text-align: center;
	position: absolute;
	left: -200px;
	font-size: 15px;
	padding: 3px;
	width: 145px;
	font-weight: bold;
	color: #f4157e;
	border-radius: 15px;
	background-color: rgba(76, 69, 112, 0.84);
}

.error-label-name::after {
	content: '\2192';
	font-weight: bold;
	font-size: 56px;
	position: absolute;
	right: -40px;
	top: 50%;
	transform: translateY(-50%);
}